/* Estilos gerais */

* {
    margin: 0px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    background-image: url(https://i.imgur.com/DbRvMcx.jpg);
    height: 1000px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.corclara{
    color:#d1ccc0 ;
}

.licontatos {
    color: #d1ccc0;
    padding-left: 60px;
    font-size: 23px;
}

.licontatos:hover {
    color:black;
}

li {
    color: black;
    padding-left: 60px;
    font-size: 23px;
}

li:hover {
    color: whitesmoke;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0%;
}

p {
    text-align: justify;
}

footer {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.322);
    backdrop-filter: blur(10px);
    padding-top: 1%;
    padding-bottom: 1%;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-1{
    margin-bottom: 1px;
}

.mb-10{
    margin-bottom: 10px;
}

.mt-30 {
    margin-top: 30px;
}

/* Estilos da página index.html */

.containerindex {
    display: flex;
    flex-flow: row;
    background-color: rgba(27, 15, 4, 0.747);
}

.containerindex>div {
    background-color: #d3d3bcc5;
    margin: 23px;
    padding: 20px;
    font-size: 18px;
    justify-content: space-between;
    padding: 25px;
}

.partetitulo {
    text-align: center;
    color: antiquewhite;
    margin-top: 20px;
}

.menunav { 
    display: flex;
    background-color: rgba(128, 128, 128, 0.322);
    backdrop-filter: blur(10px);
    padding-top: 1%;
    padding-bottom: 1%; 
}

.vermais {
    color: rgba(36, 21, 4, 0.829);
    text-decoration-line: underline;
    margin-bottom: 50px;
}

.vermais:hover {
    color: whitesmoke;
}

.br-30 {
    border-radius: 5%;
}

/* Estilos da página contatos.html */

.contatos {
    text-align: right;
    background-size: cover;
    font-size: 20px;
    padding-right: 5%;
}

.containercontato {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    background-color: rgba(27, 15, 4, 0.747);
}

.faleconosco {
    text-align: center;
    font-size: 30px;
    color: #d1ccc0;
    border: 2px solid black;
}

.bordapreta {
    border: 2px solid black;
}

/* Estilos da página historia.html */

.center {
    text-align: center;
}

.textohistoria {
    background-color: rgba(0, 0, 0, 0.705);
    color:#d1ccc0;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;    
}